<%- include("../components/cabecera"); %>

<!--
// v0 by Vercel.
// https://v0.dev/t/mPGb4q3z6Dy
-->

<div class="grid min-h-screen w-full grid-cols-[280px_1fr]">
  <%- include("../components/sidebar") %>
    <main class="px-4 max-h-screen overflow-scroll">
      <div class="grid grid-cols-2 items-center space-y-6 p-6">
        <div class="flex items-center space-x-4">
          <span class="relative flex shrink-0 overflow-hidden rounded-full h-24 w-24 border-2 border-gray-200 dark:border-gray-700">
            <img src="<%=profilePicture%>" alt="">
          </span>
          <div class="space-y-1">
            <h2 class="text-xl font-semibold dark:text-white"><%=username%></h2>
          </div>
        </div>
        <div class="h-full flex justify-start">
          <div class="w-full grid grid-rows-3 gap-3">
            <div class="w-full flex justify-between">
              <button class="text-sm py-1 px-2 rounded-md bg-slate-900 dark:bg-gray-200 text-gray-200 dark:text-slate-700" onclick="window.location='perfil/editar'">Editar perfil</button>
              <button>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-100">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M9.594 3.94c.09-.542.56-.94 1.11-.94h2.593c.55 0 1.02.398 1.11.94l.213 1.281c.063.374.313.686.645.87.074.04.147.083.22.127.325.196.72.257 1.075.124l1.217-.456a1.125 1.125 0 0 1 1.37.49l1.296 2.247a1.125 1.125 0 0 1-.26 1.431l-1.003.827c-.293.241-.438.613-.43.992a7.723 7.723 0 0 1 0 .255c-.008.378.137.75.43.991l1.004.827c.424.35.534.955.26 1.43l-1.298 2.247a1.125 1.125 0 0 1-1.369.491l-1.217-.456c-.355-.133-.75-.072-1.076.124a6.47 6.47 0 0 1-.22.128c-.331.183-.581.495-.644.869l-.213 1.281c-.09.543-.56.94-1.11.94h-2.594c-.55 0-1.019-.398-1.11-.94l-.213-1.281c-.062-.374-.312-.686-.644-.87a6.52 6.52 0 0 1-.22-.127c-.325-.196-.72-.257-1.076-.124l-1.217.456a1.125 1.125 0 0 1-1.369-.49l-1.297-2.247a1.125 1.125 0 0 1 .26-1.431l1.004-.827c.292-.24.437-.613.43-.991a6.932 6.932 0 0 1 0-.255c.007-.38-.138-.751-.43-.992l-1.004-.827a1.125 1.125 0 0 1-.26-1.43l1.297-2.247a1.125 1.125 0 0 1 1.37-.491l1.216.456c.356.133.751.072 1.076-.124.072-.044.146-.086.22-.128.332-.183.582-.495.644-.869l.214-1.28Z" />
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                </svg>              
              </button>
            </div>
            <div class="flex justify-between text-gray-200">
              <p><b id="countPub" class="text-white"><%=postCount%></b> Publicaci&oacute;n</p>
              <p><b id="countFollwers" class="text-white"><%=followerCount%></b> Seguidores</p>
              <p><b id="countFollowings" class="text-white"><%=followingCount%></b> Seguidos</p>
            </div>
            <p class="text-sm text-gray-500 dark:text-gray-400 max-w-md">
              <%=bio%>
            </p>
          </div>
        </div>
      </div>
      <section class="mb-5 text-center">
        <div class="w-20 text-slate-900 dark:text-gray-100">
          <div id="nuevo" class="modal w-20 h-20 flex rounded-full border border-gray-700 dark:border-white hover:cursor-pointer" url="/perfil/crear">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10 m-auto">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>        
          </div>
          <p>Nuevo</p>
        </div>
      </section>
      <div dir="ltr" data-orientation="horizontal" class="border-t border-gray-200 dark:border-gray-700 dark:text-gray-100">
        <div
          role="tablist"
          aria-orientation="horizontal"
          class="h-9 mt-2 items-center justify-center rounded-lg bg-muted p-1 text-muted-foreground flex bg-slate-600"
          tabindex="-1"
          data-orientation="horizontal"
          style="outline:none"
        >
          <button
            type="button"
            role="tab"
            aria-selected="true"
            aria-controls="radix-:R2lafnnja:-content-posts"
            data-state="active"
            id="radix-:R2lafnnja:-trigger-posts"
            class="inline-flex items-center justify-center whitespace-nowrap rounded-md px-3 py-1 text-sm font-medium ring-offset-background transition-all focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 data-[state=active]:bg-background data-[state=active]:text-foreground data-[state=active]:shadow"
            tabindex="-1"
            data-orientation="horizontal"
            data-radix-collection-item=""
          >
            Posts
          </button>
          <button
            type="button"
            role="tab"
            aria-selected="false"
            aria-controls="radix-:R2lafnnja:-content-reels"
            data-state="inactive"
            id="radix-:R2lafnnja:-trigger-reels"
            class="inline-flex items-center justify-center whitespace-nowrap rounded-md px-3 py-1 text-sm font-medium ring-offset-background transition-all focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 data-[state=active]:bg-background data-[state=active]:text-foreground data-[state=active]:shadow"
            tabindex="-1"
            data-orientation="horizontal"
            data-radix-collection-item=""
          >
            Reels
          </button>
        </div>
        <div
          data-state="active"
          data-orientation="horizontal"
          role="tabpanel"
          aria-labelledby="radix-:R2lafnnja:-trigger-posts"
          id="content-posts"
          tabindex="0"
          class="mt-2 ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 grid grid-cols-3 gap-4 p-4"
          style="animation-duration:0s"
        >
          <% posts.forEach((post) =>{ %>

            <div class="relative group overflow-hidden rounded-lg">
              <a class="absolute inset-0" href="#">
                <span class="sr-only">View</span>
              </a>
              <% if(post.mediaUrl.endsWith("mp4")){ %>
                <video src="<%=post.mediaUrl%>"></video>
              <% } else { %>
                <img src="<%=post.mediaUrl%>" alt="Post 1" width="400" height="400" class="aspect-square object-cover" />
              <% } %>
            </div>
          <% }) %>
        </div>
        <div
          data-state="inactive"
          data-orientation="horizontal"
          role="tabpanel"
          aria-labelledby="radix-:R2lafnnja:-trigger-reels"
          hidden=""
          id="radix-:R2lafnnja:-content-reels"
          tabindex="0"
          class="mt-2 ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 grid grid-cols-3 gap-4 p-4"
        ></div>
        <div
          data-state="inactive"
          data-orientation="horizontal"
          role="tabpanel"
          aria-labelledby="radix-:R2lafnnja:-trigger-tagged"
          hidden=""
          id="radix-:R2lafnnja:-content-tagged"
          tabindex="0"
          class="mt-2 ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 grid grid-cols-3 gap-4 p-4"
        ></div>
      </div>
    </main>
  </div>
  <script src="/js/dinamicRender.js"></script>